<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="oex-mapping.ZPM">
    <Module>
      <Name>oex-mapping</Name>
	  <Description>extract info from OEX</Description> 
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="oex.PKG"/>
    </Module>
  </Document>
</Export>
